body {
    background-image: url(../images/4k-white-core-galaxy-a6irb3lyh2w8jwpa.jpg);
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: optimizeSpeed;
}